body {
    background: radial-gradient(circle, white, yellow);
    font-size: 18px;
  }

h1 {
    padding: 10px 150px 10px 150px;
    text-align: center;
}
.row {
    padding: 10px 150px 10px 150px;
    text-align: center;
}